# Ignore home assistant 'controlled' directories
.cloud
.storage/
blueprints/
custom_components/
deps/
tts/
www/community/
zigbee2mqtt/

# Ignore secrets file 
secrets.yaml

# Ignore non-configuration files
.HA_VERSION
home-assistant.log*
home-assistant_v2.db*
watchman_report.txt
zigbee.db*

# Ignore SSH keys and known_hosts
.ssh/id_*
.ssh/known_hosts
